<a href="https://colab.research.google.com/github/Hwangtaehun/pythonpratice/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

함수의 정의하기

In [ ]:
def open_account():
  print("새로운 계좌를 개설합니다.")

open_account()

전달값과 반환값

In [ ]:
def open_account():
  print("새로운 계좌를 개설합니다.")

open_account()

def deposit(balance, money):
  print("{0}원을 입금했습니다. 잔액은 {1}원입니다.".format(money, balance + money))
  return balance + money

balance = 0
balance = deposit(balance, 1000)

In [ ]:
def open_account():
  print("새로운 계좌를 개설합니다.")

open_account()

def deposit(balance, money):
  print("{0}원을 입금했습니다. 잔액은 {1}원입니다.".format(money, balance + money))
  return balance + money

balance = 0
balance = deposit(balance, 1000)

In [ ]:
def open_account():
  print("새로운 계좌를 개설합니다.")

open_account()

def deposit(balance, money):
  print("{0}원을 입금했습니다. 잔액은 {1}원입니다.".format(money, balance + money))
  return balance + money

def withdraw(balance, money):
  if balance >= money:
    print("{0}원을 출금했습니다. 잔액은 {1}원입니다.".format(money, balance - money))
    return balance - money
  else:
    print("잔액이 부족합니다. 잔액은 {0}원입니다.".format(balance))
    return balance

balance = 0
balance = deposit(balance, 1000)

balance = withdraw(balance, 2000)
balance = withdraw(balance, 500)

In [ ]:
def open_account():
  print("새로운 계좌를 개설합니다.")

open_account()

def deposit(balance, money):
  print("{0}원을 입금했습니다. 잔액은 {1}원입니다.".format(money, balance + money))
  return balance + money

def withdraw(balance, money):
  if balance >= money:
    print("{0}원을 출금했습니다. 잔액은 {1}원입니다.".format(money, balance - money))
    return balance - money
  else:
    print("잔액이 부족합니다. 잔액은 {0}원입니다.".format(balance))
    return balance

def withdraw_night(balance, money):
  commission = 100
  print("업무 시간 외에 {}원을 출금했습니다.".format(money))
  return commission, balance - money - commission

balance = 0
balance = deposit(balance, 1000)

commission, balance = withdraw_night(balance, 500)
print("수수료 {0}원이며, 잔액은 {1}원입니다.".format(commission, balance))

In [ ]:
(name , age, hobby) = ("피글렛", 20, "코딩")
print(name, age, hobby)

name , age, hobby = ("피글렛", 20, "코딩")
print(name, age, hobby)

name , age, hobby = "피글렛", 20, "코딩"
print(name, age, hobby)

함수 호출하기

In [ ]:
def profile(name, age, main_lang):
  print("이름 : {0}\t나이 : {1}\t주 사용 언어 : {2}".format(name, age, main_lang))

profile("찰리", 20, "파이썬")
profile("루시", 25, "자바")

In [ ]:
def profile(name, age=20, main_lang="파이썬"):
  print("이름 : {0}\t나이 : {1}\t주 사용 언어 : {2}".format(name, age, main_lang))

profile("찰리")
profile("루시")

In [ ]:
def profile(name, age=20, main_lang="파이썬"):
  print("이름 : {0}\t나이 : {1}\t주 사용 언어 : {2}".format(name, age, main_lang))

profile("찰리")
profile("찰리", 22)
profile("찰리", 24, "자바")

In [ ]:
def profile(name, age, main_lang):
  print(name, age, main_lang)

profile(name="찰리", main_lang="파이썬", age=20)
profile(main_lang="자바", age=25, name="루시")

In [ ]:
def profile(name, age, main_lang):
  print(name, age, main_lang)

profile("찰리", main_lang="파이썬", age=20)
#profile(name="루시", 25, "파이썬")

In [ ]:
def profile(name, age, lang1, lang2, lang3, lang4, lang5):
  print("이름 : {0}\t나이 : {1}\t".format(name, age))
  print(lang1, lang2, lang3, lang4, lang5)

profile("찰리", 20, "파이썬", "자바", "C", "C++", "C#")
profile("루시", 25, "코틀린", "스위프트", "", "", "")

In [ ]:
def profile(name, age, lang1, lang2, lang3, lang4, lang5):
  print("이름 : {0}\t나이 : {1}\t".format(name, age), end=" ")
  print(lang1, lang2, lang3, lang4, lang5)

profile("찰리", 20, "파이썬", "자바", "C", "C++", "C#")
profile("루시", 25, "코틀린", "스위프트", "", "", "")

In [ ]:
def profile(name, age, *language):
  print("이름 : {0}\t나이 : {1}\t".format(name, age), end=" ")
  print(language, type(language))

profile("찰리", 20, "파이썬", "자바", "C", "C++", "C#")
profile("루시", 25, "코틀린", "스위프트")

In [ ]:
def profile(name, age, *language):
  print("이름 : {0}\t나이 : {1}\t".format(name, age), end=" ")
  # print(language, type(language))
  for lang in language:
    print(lang, end=" ")
  print()

profile("찰리", 20, "파이썬", "자바", "C", "C++", "C#")
profile("루시", 25, "코틀린", "스위프트")

In [ ]:
def add(item):
  print(item, "붓기")

def americano():
  add("뜨거운 물")
  add("에스프레소")

print("아메리카노 만드는 법")
americano()

변수의 번위: 지역변수와 전역변수

In [ ]:
glasses = 10
def rent(people):
  glasses = 20
  glasses = glasses - people
  print("[함수 내부] 남은 3D 안경 개수: {0}".format(glasses))

print("전체 3D 안경 개수: {0}".format(glasses))
rent(2)
print("남은 3D 안경 개수: {0}".format(glasses))

In [ ]:
glasses = 10
def rent(people):
  global glasses
  glasses = glasses - people
  print("[함수 내부] 남은 3D 안경 개수: {0}".format(glasses))

print("전체 3D 안경 개수: {0}".format(glasses))
rent(2)
print("남은 3D 안경 개수: {0}".format(glasses))

실습 문제: 표준 체중 구하기

셀프체크