<a href="https://colab.research.google.com/github/Hwangtaehun/pythonpratice/blob/main/operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

연산자의 종류

In [ ]:
print(1+1)
print(3-2)
print(5*2)
print(6/3)

In [ ]:
print(2 ** 3)
print(10 % 3)
print(10 // 3)

In [ ]:
print(10 > 3)
print(4 >= 7)
print(10 < 3)
print(5 <= 5)

In [ ]:
print(3==3)
print(4==2)
print(3+4 == 7)
print(1 != 3)

In [ ]:
print((3>0)and(3>5))
print((3>0)or(3>5))
print(not(1 != 3))

연산자의 우선순위

In [ ]:
print(2 + 3 * 4)
print((2 + 3) * 4)

전체 연산자의 우선순위
https://docs.python.org/ko/3/reference/expressions.html?highlight=%EC%9A%B0%EC%84%A0%EC%88%9C%EC%9C%84#operator-precedence

변수로 연산하기

In [ ]:
number = 2 + 3 * 4
print(number)
number += 2
print(number)
number -= 2
print(number)
number *= 2
print(number)
number /= 2
print(number)
number **= 2
print(number)
number %= 2
print(number)

함수로 연산하기

In [ ]:
print(abs(-5)) #-5의 절대값
print(pow(4, 2))#4의 2승 값
print(max(5, 12))#5와 12 중 큰 값
print(min(5, 12))#5와 12 중 작은 값
print(round(3.14))#3.14를 소수점 이하 첫째 자리에서 반올림한 정수
print(round(4.678, 2))#4.678을 소수점 이하 셋째 자리에서 반올림한 값

In [ ]:
from math import *

result = floor(4.99) #4.99의 내림
print(result)
result = ceil(3.14) #3.14의 올림
print(result)
result = sqrt(16) #16의 제곱근
print(result)

In [ ]:
import math

result = math.floor(4.99) #4.99의 내림
print(result)
result = math.ceil(3.14) #3.14의 올림
print(result)
result = math.sqrt(16) #16의 제곱근
print(result)

In [ ]:
from random import *

print(random())
print(random())
print(random())

In [ ]:
print(random() * 10)
print(int(random() * 10))
print(int(random() * 10) + 1)

In [ ]:
print(int(random() * 45) + 1)

In [ ]:
print(randrange(1, 46))#1이상 46미만에서 난수 생성
print(randint(1, 45))#1이상 45이하에서 난수 생성

In [ ]:
print(randint(1, 45))
print(randint(1, 45))
print(randint(1, 45))
print(randint(1, 45))
print(randint(1, 45))
print(randint(1, 45))

실습문제: 스터디 날짜 정하기

In [ ]:
from random import *
day = randrange(4, 28)
print("오프라인 스터디 모임 날짜는 매월 " + str(day) + "일로 선정됐습니다.")

셀프체크

In [ ]:
celsius = 30
fahrenheit = (celsius*9/5)+32
print("섭씨 온도 : " + str(celsius))
print("화씨 온도 : " + str(fahrenheit))

celsius = 10
fahrenheit = (celsius*9/5)+32
print("섭씨 온도 : " + str(celsius))
print("화씨 온도 : " + str(fahrenheit))